<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Домой", "")
        @Html.ActionLink("Создать заявку", "CreateRequest")
        @Html.ActionLink("Применить фильтр", "FilteringOptions")
        @RenderBody()        
    </div>
</body>
</html>
