@model Simple_Helpdesk.Models.Request

@{
    ViewBag.Title = "Список изменений";
}
<h3>Список изменений от последнего изменения к дате создания</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Наименование заявки</th>
        <th>Текущий статус</th>
        <th>Время последнего редактирования</th>
        <th>Описание</th>
    </tr>

    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Descriptions.Last().Status</td>
        <td>@Model.Descriptions.Last().ModificationTime</td>
        <td>@Model.Descriptions.Last().Description</td>
    </tr>
    @for (int i = Model.Descriptions.Count - 2; i >= 0; --i) {
        <tr>
            <td class="rightborderonly" colspan="2" ></td>
            <td>@Model.Descriptions[i].Status</td>
            <td>@Model.Descriptions[i].ModificationTime</td>
            <td>@Model.Descriptions[i].Description</td>
        </tr>
    }
</table>
