@model Simple_Helpdesk.Models.FilteringOptions

@{
    ViewBag.Title = "Настройки фильтрации";
}

<h3>Настройки фильтра отображения записей заявок</h3>

@using (Html.BeginForm("FilteringOptionsApply", "Home", FormMethod.Get, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Настройки фильтра</legend>

        @*Отображение по статуса заявки*@
        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new[] {
                        new SelectListItem() { Text = "Все", Value = "0" },
                        new SelectListItem() { Text = "Открыта", Value = "1" },
                        new SelectListItem() { Text = "Решена", Value = "2" },
                        new SelectListItem() { Text = "Возвращена", Value = "3" },
                        new SelectListItem() { Text = "Закрыта", Value = "4" }})
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        @*Была ли возвращена хоть раз*@
        <div class="editor-label">
            @Html.LabelFor(model => model.isReturned)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.isReturned, true,  new { @checked = (Model.isReturned) ? "checked" : null} )
            @Html.Label("Да")

            @Html.RadioButtonFor(model => model.isReturned, false)
            @Html.Label("Нет")
        </div>


        @*Прикрути DateTime позже*@
        <div class="editor-label">
            @Html.LabelFor(model => model.After)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.After, new { type = "datetime-local" })
            @Html.ValidationMessageFor(model => model.After)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Before)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Before, new { type = "datetime-local" })
            @Html.ValidationMessageFor(model => model.Before)
        </div>

        @*Тип сортировки*@
        <div class="editor-label">
            @Html.LabelFor(model => model.SortByCreationTime)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.SortByCreationTime, true, new { @checked = (Model.SortByCreationTime) ? "checked" : null})
            @Html.Label("По дате создания")
            
            @Html.RadioButtonFor(model => model.SortByCreationTime, false )
            @Html.Label("По дате последнего изменения")
        </div>
        
        <p>
            <input type="submit" value="Сохранить изменения" />
        </p>
    </fieldset>
}
