@using Simple_Helpdesk.Models
@model IEnumerable<Request>

@{
    ViewBag.Title = "База заявок";
}

<table>
    <tr>
        <td>ID</td>
        <td>Наименование заявка</td>
        <td>Текущий статус</td>
        <td>Время последнего редактирования</td>
        <td>Описание</td>
        <td>(+)История</td>
        <td>(+)Редактирование</td>
        <td>(+)Удаление</td>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Descriptions.Last().Status</td>
            <td>@item.Descriptions.Last().ModificationTime</td>
            <td>@item.Descriptions.Last().Description</td>
            <td>
                @Html.ActionLink("История изменений", "ChangeLog", new { Id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "UpdateRequest", new { Id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Удалить", "RemoveRequest", new { Id = item.ID })
            </td>
        </tr>
    }
</table>
