@using Simple_Helpdesk.Models
@model IEnumerable<Request>

@{
    ViewBag.Title = "База заявок";
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Наименование заявки</th>
        <th>Текущий статус</th>
        <th>Время последнего редактирования</th>
        <th>Описание последнего редактирования</th>
        <th colspan="3">Действия</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Descriptions.Last().Status</td>
            <td>@item.Descriptions.Last().ModificationTime</td>
            <td class="rightborder">@item.Descriptions.Last().Description</td>
            <td>
                @Html.ActionLink("История изменений", "ChangeLog", new { Id = item.ID }, new { @class = "linkasbutton" })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "UpdateRequest", new { Id = item.ID }, new { @class = "linkasbutton" })
            </td>
            <td>
                @Html.ActionLink("Удалить", "RemoveRequest", new { Id = item.ID }, new { @class = "linkasbutton" })
            </td>
        </tr>
    }
</table>
