@using Simple_Helpdesk.Models
@model Simple_Helpdesk.Models.RequestTuple

@{
    ViewBag.Title = "Обновление заявки";
}

@Html.Partial("ChangeLog", Model.request)
<h3>Новое состояние заявки</h3>

@using (Html.BeginForm("UpdateRequest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Правки</legend>

        @*Сохраняем ID заявки, к которой будет относится "новое состояние"*@
        @Html.HiddenFor(m => m.description.RequestID, Model.request.ID)

        @*Статус заявки*@
        <div class="editor-label">
            @Html.LabelFor(model => model.description.Status)
        </div>
        <div class="editor-field">
            @*переходы в другие состояния заявки в зависимости от текущего*@
            @switch (Model.description.Status) {
                case RequestStatus.Opened:
                @Html.DropDownListFor(model => model.description.Status,
                 new[] { new SelectListItem() { Text = "Решена", Value = "2" } })
                    break;
                case RequestStatus.Solved:
                @Html.DropDownListFor(model => model.description.Status,
                 new[] { 
                         new SelectListItem() { Text = "Возвращена", Value = "3" },
                         new SelectListItem() { Text = "Закрыта", Value = "4" },})
                    break;
                default: //Returned
                @Html.DropDownListFor(model => model.description.Status,
                 new[] { 
                         new SelectListItem() { Text = "Решена", Value = "2" }})
                    break;
            }
            @Html.ValidationMessageFor(model => model.description.Status)
        </div>


        @*Описание изменения*@
        <div class="editor-label">
            @Html.LabelFor(model => model.description.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description.Description)
            @Html.ValidationMessageFor(model => model.description.Description)
        </div>
        <p>
            <input type="submit" value="Внести изменения" />
        </p>
    </fieldset>
}
